<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="cabecera" ><img src="assets/image/bala.svg" class="logo"> 
        <h1 class="title">empresa turno</h1> </div>
    <nav class=" links"> <a href="contacto.html">contacto</a>
            <a href="informacion.html">informacion</a>
            <a href="inicio.html">inicio</a>


            </nav>
    </header>
    <main class="container">
        <div class="texto texto1">
            <h1 class="titulo">Titulo </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusamus accusantium, eligendi iste
                dicta officia optio fugit neque dignissimos ab quo cumque illo est unde aspernatur expedita culpa
                laudantium sed?</p>
        </div>

        <div class="texto texto2">
            <h1 class="titulo">Titulo </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusamus accusantium, eligendi iste
                dicta officia optio fugit neque dignissimos ab quo cumque illo est unde aspernatur expedita culpa
                laudantium sed?</p>
        </div>
        <div class="texto texto3">
            <h1 class="titulo">Titulo </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusamus accusantium, eligendi iste
                dicta officia optio fugit neque dignissimos ab quo cumque illo est unde aspernatur expedita culpa
                laudantium sed?</p>
        </div>
        
        <div class="texto texto3">
            <h1 class="titulo">Titulo </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusamus accusantium, eligendi iste
                dicta officia optio fugit neque dignissimos ab quo cumque illo est unde aspernatur expedita culpa
                laudantium sed?</p>
        </div>

    </main>

    <footer class="pie">
        <p>empresa tal </p>
        <p>info pie</p>
    </footer>
</body>

</html>