.gallery {
    display:grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap:5px;
 }
 
 .gallery__item{
     display:flex;
     justify-content: center;
     align-items: center;
     border:1px solid black;
     cursor:pointer;
     height:150px;
     font-size: 3em;
 }
 .red{
    background: red;
 }
 