
body{
    margin: 10px;
    padding: 200px;
}
.gallery {
    display:grid;
    grid-template-columns: repeat(4, 0.5fr);
    width: 100px;

 } 
 
 .gallery__item{
     display:flex;
     justify-content: center;
     align-items: center;
     border:1px solid black;
     cursor:pointer;
     height:50px;
     font-size: 2em;
     width: 30px;

 }
 .red{
    background: red;
 }

 