header{
background-color:#a01a1f ;
background-image:url(assets/cloumnas.jpg);
background-repeat:repeat;
background-position:center;
background-size: cover;
}
h1{
    color:rgba(160, 26, 31, 0.8);

text-align: right;
font-size: 6em;

}
a{
    display: inline-block;
    
    
    border:4px solid #4f5b65;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius:10px ;
    color: rgb(160, 26, 31);
    font-weight: bold;

}
.middle{ 
    width: 50%;
    float: left;
  padding-right:6% ;
}
.left{
    width: 18%;
    float: left;
    padding-right:4% ;
    padding-top: 5%;
    
    }
.right{
    width: 18%;
    float: left;
   
    padding-right:4% ;
    padding-top: 15%;
}

.row{
    display: table;
  clear: both;
  
  padding: 10px;
  background-color: rgba(79, 91, 101, 0.2);
}
h2{
    color:rgb(160, 26, 31);
}
.footer{
background-color: rgba(160, 26, 31,.6);
color:white;
height:100px;
text-align: center;

}