.fondo0{
    background-image: url(bandera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    width: 100%;
    height: 100vh;
}
header{
    display: block;
    margin-top: 10%;
    margin-left: 40%;
    justify-content: flex-end;

}
a{ /* DEFINICIONS DE LINKS    */
    color: rgb(30, 116, 197);
    border: 2px solid rgba(166, 166, 226, 0.3);
    padding: 10px 20px;
    display:inline-block;
    margin-left: 20px;
    margin-top: 40px;
    text-decoration: none;
    background-color: rgb(248, 255, 240);
    opacity: 0.8;
  
}

/* MODIFICA PINCHAR COLOR BORDE... */
 a:hover{   
    border: 2px solid rgb(157, 255, 0);
    border-radius: 25%;
    transform:rotate(2);
    text-transform: uppercase;
    width: 60px;
    opacity: 1;

}
.texto{
    display: flex;
    margin: 50px ;
    
   

}
.titu{
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 10px red;
}
.titu0{
    color: white;
    margin-top: 10%;
    text-align: right;
    font-size: 3em;
    text-shadow: 5px 5px 10px red;
    margin-right: 10%;}

.titulo{
    color: white;
    margin-top: 5%;
    text-align: center;
    font-size: 2em;
    text-shadow: 5px 5px 10px red;
}
.titulo0{
    color: white;
    margin-top: 5%;
    text-align: right;
    font-size: 5em;
    text-shadow: 5px 5px 10px red;
    margin-right: 10%;
}

.fondo2{
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin:0;
}
#mov0 {/* animacion h1  */

border-radius: 20%;
position:relative;
animation-name: caso;
  animation-duration: 3s;  
  animation-fill-mode: forwards;


}

@keyframes caso{
    from {top: 0px;}
    to {top: 100px; text-shadow: 5px 5px 10px rgb(0, 255, 64);}
  }
  #mov { /* animacion h2    */

    border-radius: 20%;
    position:relative;
    animation-name: casos;
      animation-duration: 3s;  
      animation-fill-mode: forwards;
    
    
    }
    
    @keyframes casos{
        from {right:200px;}
        to {right: 0px; text-shadow: 5px 5px 10px rgb(94, 255, 0);}

    }
    #mov2 {/*animacion pagin index cMBIO DIRECCION SOMBRA     */ 

        border-radius: 20%;
        position:relative;
        animation-name: caso1;
          animation-duration: 3s;  
          animation-fill-mode: forwards;
        
        
        }
        
        @keyframes caso1{
            from {top: 200px;}
            to {top: 0px; text-shadow: 5px 5px 10px rgb(0, 255, 242);}
          }
          #mov3 {
        
            border-radius: 20%;
            position:relative;
            animation-name: casos1;
              animation-duration: 8s;  
              animation-fill-mode: forwards;
            
            
            }
            
            @keyframes casos1{
                from {top: 200px;}
                to {top: 0px; text-shadow: 5px 5px 10px rgb(49, 47, 53);}
        
            }

            /* FORMULARIO APLICANDOLES FORMATO */
            ul{
                color:white;
                text-align:center;
                width:90%;
               
                
            }
            ul h1, ul h2{
                text-shadow: 5px 5px 5px red;

            }

            span{
              color:rgb(0, 255, 13);
            }
            li{
                display:inline-block;
                margin: 5px;
                height: 60px;
                border: 1px solid red;
                padding: 15px;
                color:rgb(240, 8, 8);
                font-weight: bold;
                overflow: hidden;
                box-shadow: 2px 2px 1px rgb(160, 101, 101);
                background-color: rgbA(223, 134, 17,0.4);
               
               
            }
            input{
                padding: 10px;
                float: right;
               
            }